*{
    color:#CCCCCC;
}
body{
    width: auto;
    display:flex;
    flex-wrap:wrap;
    padding: 20px;

}
header{
    width: 100%;
    background-color: #0F2027;
    text-align: center;

}
main{
    width: 100%;
    background-color: #203A43;
    display:flex;
}
footer{
    width: 100%;
    background-color: #2C5364;
    text-align: center;
}