*{
    color:#CCCCCC;
    box-sizing: border-box;
}

:root{
    --bg-color-header:#0F2027;
    --bg-color-main:#203A43;
    --bg-color-footer:#2C5364;
    --bg-color-card:#004768;
    --card-size:150px;
}

body{
    width: 100%;
}

header{
    background-color:var(--bg-color-header);
    min-height: 15%;
}

main{
    background-color:var(--bg-color-main) 
}

footer{
    background-color:var(--bg-color-footer);
    position:fixed;
    bottom: 0;
    width:100%;


}

.container{
    display:grid;
    grid-template-columns: repeat(8, 1fr);


}

.card-box{
    background: var(--bg-color-card);
    grid-column: span 2;
    grid-row: span 2;
    min-width: var(--card-size);
    min-height: var(--card-size);
    margin: 20px;
}