body{
    background-color: #1F1F1F;
}

header{
    display:flex;
    justify-content: center;
}

main{
    justify-content: center;
}

main div{
    display:flex;
    justify-content: center;
}

.repo-grid{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

h1, p{
    color:white;
}
.main-buscar{
    justify-content: space-around;
}
.main-buscar p{
    margin-right: 15px;
}

.hidden{
    display: none;
}
.hidden-btn{
    display: none;
}

.repo-card-box{
    display: grid;
}

.repo-card{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    /*border: solid #fff 10px;*/
    box-shadow: 0 0 20px #fff;
}

.repo-card a{
    color:#fff;
    font-size: 16px;
}

@media(max-width: 1080px){
    .repo-grid{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 600px){
    .repo-grid{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}