body{
    width: 99%;
    background-color: #1F1F1F;
}
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
header div{
    align-items: center;
    justify-content: center;
}

main{
    justify-content: center;
}

main div{
    display: flex;
    justify-content: center;
}

h1, p{
    color:white;
}
.main-buscar{
    justify-content: space-around;
}
.main-buscar p{
    margin-right: 15px;
}

.hidden{
    display: none !important;
}
.hidden-btn{
    display: none !important;
}

.repo-grid{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

.repo-card{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 0 20px #fff;
}

.repo-card-box{
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}

.repo-card-box div{
    justify-content: center;
    text-align: center;
    vertical-align: center;
}



.repo-card a{
    color:#fff;
    font-size: 16px;
    flex-wrap: wrap;
    text-decoration: none;
}
.btn-https{
    width: 50px;
    aspect-ratio: 1;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactos{
    display: flex;
    justify-content: space-around;
}
.contactos a{
    color:#fff;
    text-decoration: none;
}

@media(max-width: 1400px){
    .repo-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 800px){
    .repo-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .repo-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}